@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'iranSans';
  src: url(../../public/font/IRANSansWebRegular.woff);
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'iranSans';
}
.ant-menu-horizontal {
  border-bottom: none;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.loginLayout {
  background-image: url('/../images/loginBg.jpg');
}
