@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'iranSans';
  src: url(../../public/font/IRANSansWebRegular.woff);
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'iranSans';
}
